<table>
    <colgroup>
        <col width="200" />
    </colgroup>
    <tbody>
        <tr>
            <th colspan="2">{{mobule}} -> {{component}}</th>
        </tr>
        <tr>
            <td>Controller Service Id</td>
            <td>{{controllerServiceId}}</td>
        </tr>
        <tr>
            <td>Module Service Id</td>
            <td>{{moduleServiceId}}</td>
        </tr>
        <tr>
            <td>Singleton Service Id</td>
            <td>{{singletonServiceId}}</td>
        </tr>
    </tbody>
</table>